*::input-placeholder {
    color: var(--text-muted) !important;
  }
  
  *:focus::input-placeholder {
    color: var(--text-hover) !important;
  }
  
  /* Firefox < 19 */
  *:placeholder {
    color: var(--text-muted) !important;
  }
  
  *:focus:placeholder {
    color: var(--text-hover) !important;
  }
  
  /* Firefox > 19 */
  *::placeholder {
    color: var(--text-muted) !important;
  }
  
  *:focus::placeholder {
    color: var(--text-hover) !important;
  }
  
  /* Internet Explorer 10 */
  *:input-placeholder {
    color: var(--text-muted) !important;
  }
  
  *:focus:input-placeholder {
    color: var(--text-hover) !important;
  }