@import "../../../shared/theme/ui/styles/defaults/transparent";
@import "../../../shared/theme/ui/styles/palette/aquamarine";
@import "../../../shared/theme/ui/styles/palette/dracula";
@import "../../../shared/theme/ui/styles/palette/nord";
@import "../../../shared/theme/ui/styles/palette/space-gray";

:root {
    --size-xs: 8;
    --size-s: 12;
    --size-m: 16;
    --size-l: 20;
    --size-xl: 24;
    --font-family-main: menlo, sans-serif;
    --font-size-s: calc(var(--size-s) * 1px);
    --font-line-s: calc(var(--size-s) * 1px);
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);  
    --font-size-m: calc(var(--size-m) * 1px);
    --font-line-m: calc(var(--size-m) * 1px);
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: calc(var(--size-l) * 1px);
    --font-line-l: calc(var(--size-l) * 1px);
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --header-size: 50px;
    --padding-xl: calc(var(--size-xl) * 1px);
    --padding-l: calc(var(--size-l) * 1px);
    --padding-m: calc(var(--size-m) * 1px);
    --padding-s: calc(var(--size-s) * 1px);
    --padding-xs: calc(var(--size-xs) * 1px);

    // Button
    --button-pading-s: var(--padding-xs) var(--padding-s);
    --button-pading-m: var(--padding-s) var(--padding-m);
    --button-pading-l: var(--padding-m) var(--padding-l);
    --button-border-radius: calc(var(--size-xs) * 1px);

    // Z-Index
    --modal-z-index: 10px;
}

// Это нужно для правильной темизации компонентов которые порталом закинуты вне корневого класса app
// Например модальное окно
body {
    color: var(--text);
    font: var(--font-m);
}