@import "../styles/theme/aquamarine.scss";
@import "../styles/theme/dracula.scss";
@import "../styles/theme/nord.scss";
@import "../styles/theme/space-gray.scss";
.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 32px;
    font: var(--font-m);
    background-color: var(--main-bg-color);
    color: var(--text);
    a {
        text-decoration: none;
        cursor: pointer;
        color: var(--link-color);
        &:hover {
            color: var(--link-color-hover);
        }
    }
    button {
        cursor: pointer;
        padding: 8px 12px;
        border-radius: 4px;
        color: var(--button-text);
        background-color: var(--button-color);
        &:hover {
            color: var(--button-text-hover);
            background-color: var(--button-color-hover);
        } 
    }
}

.links {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    > * {
        margin-right: 8px;
    }
    :last-child {
        margin-right: 0;
    }
}