.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-bg-color);
}

.navbar {
    grid-area: navbar;
}

.wrapper {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    flex-shrink: 1;
}

.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    padding: var(--padding-m) var(--padding-xl);
}