.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font: var(--font-m);
    background-color: var(--main-bg-color);
    color: var(--text);
}

.navbar {
    grid-area: navbar;
}

.wrapper {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    flex-shrink: 1;
}

.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    padding: var(--padding-l) var(--padding-xl);
}