.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-l) var(--padding-xl);
    background: var(--transparency-dark-25);
    border-bottom: 1px solid var(--transparency-light-15);
    width: 100%;
}

.switcher {
    padding: var(--padding-s);
    margin-right: var(--padding-l);
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-s);
}

.links {
    display: flex;
    justify-content: center;
    margin-left: auto;
    .link:not(:last-child) {
        margin-right: var(--padding-m);
    }
}