.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-m) var(--padding-xl);
    background: var(--transparency-dark-25);
    border-bottom: 1px solid var(--transparency-light-15);
    width: 100%;
    height: var(--header-size);
}

.link {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-xs);
}

.links {
    display: flex;
    justify-content: center;
    margin-left: auto;

    .link:not(:last-child) {
        margin-right: var(--size-s);
    }
}